@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



body {
    font-family: "Roboto Condensed", sans-serif;
}

//PALETTE
.color-1 {
    color: #383E5E;
}

.bg-1 {
    background-color: #383E5E;
}


//  BUTTONS

.btn-1 {
    color: whitesmoke;
    background-color: #383E5E;
    border-color: grey;

    &:hover {
        background-color: #464e77;
        border-color: grey;
        color: whitesmoke;
    }

    &:active {
        background-color: #464e77;
        border-color: grey;
    }

    i {
        color: whitesmoke;
    }
}

i {
    color: #383E5E;
}